@font-face {
	font-family: 'Roboto';
	src: url(./fonts/Roboto/Roboto-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(./fonts/Roboto/Roboto-Bold.ttf);
	font-display: swap;
}

body {
	margin: 0;
}

.content {
	display: flex;
	height: 100%;
	min-height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.main-content {
	flex: 1;
	max-width: 1510px;
	margin: 0 auto;
}

.logo {
	text-align: center;
	margin-bottom: 4px;
}

summary {
	background: #efefef;
	padding: 38px 269px;
	text-align: center;
	margin-bottom: 40px;
}

.summary-title {
	color: #000;
	font-family: 'Roboto Bold';
	font-size: 18px;
	font-style: normal;
	line-height: normal;
}

.summary-desc {
	color: #000;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.news {
	display: flex;
}

.news article:not(:last-child) {
	margin-right: 50px;
}

.news .news-title {
	color: #000;
	font-family: 'Roboto Bold';
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	margin: 0 0 18px 0;
}

.news figure {
	margin: 0;
	display: inline-block;
}

.news figure img {
	float: left;
	margin-right: 16px;
}

.news figure figcaption {
	color: #000;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

footer {
	text-align: center;
	border-top: 1px #dedede solid;
	height: 79px;
	color: #3e3e3e;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
}

footer p {
	line-height: 50px;
}

nav {
	width: 150px;
	background: #191718;
	display: block;
	height: 100vh;
	top: 0;
	position: sticky;
}

.nav-wrapper {
	padding: 0;
	margin: 0;
}

.nav-item {
	height: 44px;
	border-bottom: 1px #aaa solid;
	width: 150px;
	cursor: pointer;
}

.nav-item.active a {
	color: #fff;
}

.nav-item:hover {
	background-color: #5c5c5c;
}

.nav-item a {
	color: #aaa;
	text-decoration: unset;
	line-height: 40px;
	padding-left: 16px;
	font-family: 'Roboto Bold';
	font-size: 16px;
}

.nav-item:hover a {
	color: #ffffff;
}
