@font-face {
	font-family: 'Roboto';
	src: url(./fonts/Roboto/Roboto-Regular.ttf);
	font-display: swap;
}

@font-face {
	font-family: 'Roboto Bold';
	src: url(./fonts/Roboto/Roboto-Bold.ttf);
	font-display: swap;
}

body {
	margin: 0;
}

.content {
	display: flex;
	height: 100%;
	min-height: 100%;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
	max-width: 100%;
}

.main-content {
	flex: 1;
	width: 1510px;
	margin: 0 auto;
	max-width: 100%;
}

.logo {
	text-align: center;
	margin-bottom: 4px;
}

summary {
	background: #efefef;
	text-align: center;
	margin-bottom: 40px;
	max-width: 100%;
	padding: 38px 0;
}

.summary-title {
	color: #000;
	font-family: 'Roboto Bold';
	font-size: 1.125em;
	font-style: normal;
	line-height: normal;
}

.summary-desc {
	color: #000;
	font-family: Roboto;
	font-size: 1em;
	font-weight: 400;
	width: 972px;
	max-width: 90%;
	margin: 0 auto;
}

.news {
	display: flex;
	padding: 0 12px 12px 12px;
}

.news article:not(:last-child) {
	margin-right: 50px;
}

.news .news-title {
	color: #000;
	font-family: 'Roboto Bold';
	font-size: 1.5em;
	font-style: normal;
	line-height: normal;
	margin: 0 0 18px 0;
}

.news figure {
	margin: 0;
	display: inline-block;
}

.news figure img {
	float: left;
	margin-right: 1em;
}

.news figure figcaption {
	color: #000;
	font-family: Roboto;
	font-size: 1em;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

footer {
	text-align: center;
	border-top: 1px #dedede solid;
	height: 79px;
	color: #3e3e3e;
	font-family: Roboto;
	font-size: 1em;
	font-weight: 400;
}

footer p {
	line-height: 3em;
}

.nav-desktop {
	width: 150px;
	background: #191718;
	display: block;
	height: 100vh;
	top: 0;
	position: sticky;
}

.nav-wrapper {
	padding: 0;
	margin: 0;
}

.nav-item {
	height: 44px;
	border-bottom: 1px #aaa solid;
	width: 150px;
	cursor: pointer;
}

.nav-item.active a {
	color: #fff;
}

.nav-item:hover {
	background-color: #5c5c5c;
}

.nav-item a {
	color: #aaa;
	text-decoration: unset;
	line-height: 2.8em;
	padding-left: 1em;
	font-family: 'Roboto Bold';
	font-size: 1em;
}

.nav-item:hover a {
	color: #ffffff;
}

@media only screen and (max-width: 768px) {
	.nav-desktop {
		/* display: none; */
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: var(--black);
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s ease-out;
	}

	.nav-desktop a {
		display: block;
		padding: 30px;
		color: var(--white);
	}

	.news {
		flex-wrap: wrap;
	}

	.news article:not(:last-child) {
		margin-right: 0;
		margin-bottom: 1.5em;
	}

	.summary-title {
		font-size: 1.125em;
	}
}
